@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, "Segoe UI", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: thin !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

*::-webkit-scrollbar:hover {
  width: 4px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #b1b2b5;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #b1b2b533;
}